#conteiner{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "header"
    "content"
    "footer" ;

    grid-template-rows: 120px 70vh 80px;
}

#cabecalho{
    grid-area: header;
    border: 1px dashed gray ;
}

#conteudo{
    grid-area: content;
    border: 1px dashed gray ;
}

#rodape{
    grid-area: footer;
    border: 1px dashed gray ;
}