#conteiner{
    display: flex;
    justify-content: space-between;
}


.item{
    border: 1px solid black;
    background-color: burlywood;
    width: 100px;
    height: 100px;
}

.proporcao{
    flex-grow: 2;
}