* {
    margin: 0;
    padding: 0;
}
header{
    background-color: purple;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}
header h1 {
    color: white;
    text-align: center;
}
#conteiner{
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-top: 75px;
}
nav{
    background-color: purple;
    width: 150px;
    padding: 20px;
}

main {
    background-color: white;
    flex-grow: 1;
    padding: 20px;
}

footer{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    text-align: center;
}

footer p {
    color: black;
    font-size: 1.5rem;
}