*{
    margin: 0;
    padding: 0;
}


#menu{
    background-color: black;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline;
}

#menu ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

#menu ul li a:hover { 
    background-color: gray;
    transition: 0.4s all;
}