#conteiner{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "cabecalho cabecalho"
    "esquerdo conteudo"
    "esquerdo rodape" ;

    grid-template-columns: 20% auto;
    grid-template-rows: 120px 70vh 80px ;
}

#cabecalho{
    grid-area: cabecalho;
    border: 1px dashed gray;
}

#esquerdo{
    grid-area: esquerdo;
    border: 1px dashed gray;
}

#conteudo{
    grid-area: conteudo;
    border: 1px dashed gray;
}

#rodape{
    grid-area: rodape;
    border: 1px dashed gray;
}