body {
    margin: 0;
    background-color: white;
    color: #333;
    font: 100 / normal sans-serif;
}

main  {
    margin: 0 auto;
    padding: 4rem 0;
    width: 90%;
    max-width: 60rem;
}

form {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
    display: grid;
    gap: 1rem;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13;
  width: 165px;
  height: 35px;
  background-color: #0066b8;
  padding: 9px 50px;
  border: none;
  color: white;
}

.btn-large {
  width: 340px;
}

.full-width {
  grid-column: span 2;
}